@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/horizon.otf') format('truetype');
  }
body {
    margin: auto;
    background-color: rgb(0, 0, 0);
    font-family: 'MiFuente', sans-serif;
}
.container1{
    position: fixed;
    margin-top: 14%;
    margin-left: 10%;
}
.argazkiak{
    display: flex;
    color: grey;
    width: 50%;
    text-align: center;

}

.argazkiak img{
    width: 30%;
}
.argazkiak p {
    color: rgb(69, 68, 68); /* Color inicial */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}
.ligak p{
    color: rgb(213, 7, 7);
}

  
  /* Cambiar a rojo en hover, excepto en 'Ligak' */
  .argazkiak div:not(.ligak):hover p {
    color: red;
  }
.img{
    width: 300px;
}
.taldea img{
}
.logo img{
    width: 500px;
}