@font-face {
    font-family: 'MiFuente';
    src: url('../../fonts/horizon.otf') format('truetype');
  }
  @font-face {
    font-family: 'MiFuente2';
    src: url('../../fonts') format('truetype');
  }
.dena{
    font-family: 'MiFuente';
    background-color: rgb(32, 31, 31);
    display: flex;
    text-align: center;
    margin: auto;
    height: 15vh;
    justify-content: center;
    align-items: center;
}
.header{
    display: flex;
    font-size: 40px;
    color: white;
    width: 70%;
    text-align: center;
    margin-left: 35%;
}
.f1{
    margin-right: 4%;
    color: red;
}

.plus img{
    width: 10%;
}
