@font-face {
  font-family: 'MiFuente';
  src: url('../../js/fonts/horizon.otf') format('truetype');
}
@font-face {
  font-family: 'MiFuente2';
  src: url('../../js/fonts/Questrial/Questrial-Regular.ttf') format('truetype');
}

.container1 {
  font-family: 'MiFuente';
  background-color: black;
  width: 100%;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.argazkiak {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  width: 100%;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.argazkiak .img {
  text-align: center;
}

a {
  text-decoration: none;
  color: gray;
  font-size: 12px;
}

.argazkiak img {
  max-width: 80px;
  height: auto;
}

.argazkiak p {
  margin: 0;
  font-size: 12px;
  color: grey;
  transition: color 0.3s ease;
}

.ligak p {
  color: rgb(213, 7, 7);
}

.argazkiak div:hover p, .argazkiak div:hover a {
  color: red;
}
.klasifikazioa a{

}

/* Media Queries */
@media (max-width: 768px) {
  .argazkiak {
    flex-wrap: wrap; /* Los elementos se colocan en múltiples filas */
    gap: 10px; /* Reducir el espacio entre elementos */
  }

  .argazkiak img {
    max-width: 60px; /* Reducir el tamaño de las imágenes */
  }

  .argazkiak p {
    font-size: 10px; /* Reducir el tamaño del texto */
  }
}

@media (max-width: 480px) {
  .argazkiak {
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: center;
  }

  .argazkiak img {
    max-width: 50px;
  }

  .argazkiak p {
    font-size: 9px;
  }
}
