@font-face {
  font-family: 'MiFuente';
  src: url('../../js/fonts/horizon.otf') format('truetype');
}
@font-face {
  font-family: 'MiFuente2';
  src: url('../../js/fonts/Questrial/Questrial-Regular.ttf') format('truetype');
}

.container1 {
    font-family: 'MiFuente';
    background-color: black;
    position: fixed;
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    bottom: 0; /* Fijo en la parte inferior */
    z-index: 10;
    display: flex; /* Flexbox para centrar contenido */
    justify-content: center; /* Centrar elementos horizontalmente */
    align-items: center; /* Centrar elementos verticalmente */
    padding: 10px 0; /* Espaciado interno */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  
  .argazkiak {
    display: flex;
    justify-content: space-around; /* Distribuir imágenes uniformemente */
    align-items: center; /* Alinear imágenes al centro verticalmente */
    gap: 20px; /* Espacio entre las imágenes */
    width: 69%; /* Ajustar el ancho para centrar el contenido */
    overflow: hidden; /* Prevenir desbordamiento */
  }
  
  .argazkiak .img {
    text-align: center;
  }
  
  .argazkiak img {
    max-width: 80px; /* Tamaño máximo de la imagen */
    height: auto; /* Mantener proporción de la imagen */
  }
  
  .argazkiak p, .argazkiak a {
    margin: 0;
    font-size: 12px;
    color: grey; /* Color inicial */
    transition: color 0.3s ease; /* Transición para hover */
  }
  
  .klasifikazioa p,a {
    color: rgb(213, 7, 7);
  }
  
  .argazkiak div:hover p, .argazkiak div:hover a {
    color: red; /* Cambiar color al pasar el cursor */
  }
  a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
  }